body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2{
   font-size: 50px;
   color:#f8176d;
}
h3{
    font-size: 30px;
}
div{
    display: block;
}

.half-width{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left: 5%;
}
.left-half{
    padding-top: 10%;

}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(45deg,#e94483,#f8176d);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.header-pic{
    background-image: url(image/header-bg.png)
    background-position: left;
    background-repeat: no-repeat;

}
.bio-background{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
}
.another-half-width{
    width: 30%;
    float: left;
    
}
.another-half-width img{
    width: 100%;
}
